In [21]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

# Load the dataset
data = pd.read_csv('Churn_Modelling.xls')

data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

Checking for null values

In [23]:
data = data.replace('?', np.NaN)
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

As there are no presence of null values, we move on to data preprocessing

In [30]:
X = data.drop(['RowNumber', 'CustomerId', 'Surname', 'Exited'], axis=1)
y = data['Exited']

# One-hot encode categorical variables
X = pd.get_dummies(X, columns=['Geography', 'Gender'], drop_first=True)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=32)

feature scaling using standard scaler

In [31]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

using lazy classifier to compare algorithms

In [32]:
from lazypredict.Supervised import LazyClassifier

# fit all models
clf = LazyClassifier(predictions=True)
models, predictions = clf.fit(X_train, X_test, y_train, y_test)
print(models)

100%|██████████████████████████████████████████████████████████████████████████████████| 29/29 [00:08<00:00,  3.26it/s]

                               Accuracy  Balanced Accuracy  ROC AUC  F1 Score
Model
AdaBoostClassifier                 0.84               0.70     0.70      0.83  \
LGBMClassifier                     0.84               0.68     0.68      0.83
BaggingClassifier                  0.83               0.68     0.68      0.82
NearestCentroid                    0.69               0.68     0.68      0.72
RandomForestClassifier             0.84               0.68     0.68      0.83
XGBClassifier                      0.83               0.68     0.68      0.82
ExtraTreesClassifier               0.84               0.67     0.67      0.82
KNeighborsClassifier               0.82               0.67     0.67      0.81
SVC                                0.84               0.67     0.67      0.82
LabelPropagation                   0.78               0.66     0.66      0.78
LabelSpreading                     0.78               0.65     0.65      0.78
ExtraTreeClassifier                0.77               0.65     0.65      0.77
DecisionTreeClassifier             0.76               0.64     0.64      0.76
QuadraticDiscriminantAnalysis      0.83               0.62     0.62      0.80
GaussianNB                         0.82               0.60     0.60      0.78
Perceptron                         0.78               0.59     0.59      0.76
BernoulliNB                        0.80               0.59     0.59      0.77
LinearDiscriminantAnalysis         0.79               0.56     0.56      0.75
LogisticRegression                 0.80               0.56     0.56      0.75
CalibratedClassifierCV             0.79               0.55     0.55      0.74
PassiveAggressiveClassifier        0.75               0.55     0.55      0.73
LinearSVC                          0.79               0.53     0.53      0.73
RidgeClassifier                    0.79               0.52     0.52      0.72
RidgeClassifierCV                  0.79               0.52     0.52      0.72
SGDClassifier                      0.79               0.50     0.50      0.70
DummyClassifier                    0.79               0.50     0.50      0.70

                               Time Taken
Model
AdaBoostClassifier                   0.27
LGBMClassifier                       0.08
BaggingClassifier                    0.25
NearestCentroid                      0.01
RandomForestClassifier               0.88
XGBClassifier                        0.31
ExtraTreesClassifier                 0.51
KNeighborsClassifier                 0.08
SVC                                  1.29
LabelPropagation                     1.39
LabelSpreading                       2.62
ExtraTreeClassifier                  0.00
DecisionTreeClassifier               0.04
QuadraticDiscriminantAnalysis        0.02
GaussianNB                           0.01
Perceptron                           0.00
BernoulliNB                          0.03
LinearDiscriminantAnalysis           0.02
LogisticRegression                   0.03
CalibratedClassifierCV               0.78
PassiveAggressiveClassifier          0.01
LinearSVC                            0.19
RidgeClassifier                      0.02
RidgeClassifierCV                    0.01
SGDClassifier                        0.02
DummyClassifier                      0.01